
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}
<!-- PAGE WRAP -->
<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>
    <!-- END / PRELOADER -->
    <!-- HEADING PAGE -->
    <section class="awe-parallax page-heading-demo">
        <div class="awe-overlay"></div>
        <div class="container">
            <div class="blog-heading-content text-uppercase">
                <h2>TRAVEL BLOG</h2>
            </div>
        </div>
    </section>
    <!-- END / HEADING PAGE -->


    <section class="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog-page__content">
                        <!-- POST -->
                        <div class="post">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <a href="@Url.Action("BlogDetail", "TravelBlog")">
                                        <img src="~/Html/images/img/1.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-meta">
                                    <div class="date">February 26th, 2015</div>
                                    <div class="author">by <a href="#">Nomadic Matt</a></div>
                                    <div class="cat">
                                        <ul>
                                            <li><a href="#">Travel Gear</a></li>
                                        </ul>
                                    </div>
                                    <div class="comment"><a href="#">8 Comments &raquo;</a></div>
                                </div>
                                <div class="post-title">
                                    <h2>
                                        <a href="@Url.Action("BlogDetail", "TravelBlog")">My 2015 Group Tours: Two Trips to Europe!</a>
                                    </h2>
                                </div>
                                <div class="post-content">
                                    <p>This year I’ll be offering two short tours in the fall: one to Paris and Amsterdam and one to Prague and […]</p>
                                </div>
                                <div class="post-link">
                                    <a href="@Url.Action("BlogDetail", "TravelBlog")" class="awe-btn awe-btn-style2">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->
                        <!-- POST -->
                        <div class="post">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <a href="@Url.Action("BlogDetail", "TravelBlog")">
                                        <img src="~/Html/images/img/2.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-meta">
                                    <div class="date">February 26th, 2015</div>
                                    <div class="author">by <a href="#">Nomadic Matt</a></div>
                                    <div class="cat">
                                        <ul>
                                            <li><a href="#">Travel Gear</a></li>
                                        </ul>
                                    </div>
                                    <div class="comment"><a href="#">8 Comments &raquo;</a></div>
                                </div>
                                <div class="post-title">
                                    <h2>
                                        <a href="@Url.Action("BlogDetail", "TravelBlog")">What Makes a Nomad a Nomad?</a>
                                    </h2>
                                </div>
                                <div class="post-content">
                                    <p>This year I’ll be offering two short tours in the fall: one to Paris and Amsterdam and one to Prague and […]</p>
                                </div>
                                <div class="post-link">
                                    <a href="@Url.Action("BlogDetail", "TravelBlog")" class="awe-btn awe-btn-style2">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->
                        <!-- POST -->
                        <div class="post">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <a href="@Url.Action("BlogDetail", "TravelBlog")">
                                        <img src="~/Html/images/img/3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-meta">
                                    <div class="date">February 26th, 2015</div>
                                    <div class="author">by <a href="#">Nomadic Matt</a></div>
                                    <div class="cat">
                                        <ul>
                                            <li><a href="#">Travel Gear</a></li>
                                        </ul>
                                    </div>
                                    <div class="comment"><a href="#">8 Comments &raquo;</a></div>
                                </div>
                                <div class="post-title">
                                    <h2>
                                        <a href="@Url.Action("BlogDetail", "TravelBlog")">Hogmanay: Edinburgh’s Amazing New Year’s Celebration</a>
                                    </h2>
                                </div>
                                <div class="post-content">
                                    <p>This year I’ll be offering two short tours in the fall: one to Paris and Amsterdam and one to Prague and […]</p>
                                </div>
                                <div class="post-link">
                                    <a href="@Url.Action("BlogDetail", "TravelBlog")" class="awe-btn awe-btn-style2">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->
                        <!-- POST -->
                        <div class="post">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <a href="@Url.Action("BlogDetail", "TravelBlog")">
                                        <img src="~/Html/images/img/4.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-meta">
                                    <div class="date">February 26th, 2015</div>
                                    <div class="author">by <a href="#">Nomadic Matt</a></div>
                                    <div class="cat">
                                        <ul>
                                            <li><a href="#">Travel Gear</a></li>
                                        </ul>
                                    </div>
                                    <div class="comment"><a href="#">8 Comments &raquo;</a></div>
                                </div>
                                <div class="post-title">
                                    <h2>
                                        <a href="@Url.Action("BlogDetail", "TravelBlog")">How to Stay Safe When You Travel as a Solo Female</a>
                                    </h2>
                                </div>
                                <div class="post-content">
                                    <p>This year I’ll be offering two short tours in the fall: one to Paris and Amsterdam and one to Prague and […]</p>
                                </div>
                                <div class="post-link">
                                    <a href="@Url.Action("BlogDetail", "TravelBlog")" class="awe-btn awe-btn-style2">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->
                        <!-- PAGINATION -->
                        <div class="page__pagination">
                            <span class="pagination-prev"><i class="fa fa-caret-left"></i></span>
                            <span class="current">1</span>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#" class="pagination-next"><i class="fa fa-caret-right"></i></a>
                        </div>
                        <!-- END / PAGINATION -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="page-sidebar">
                        <!-- WIDGET -->
                        <div class="widget widget_search">
                            <h3>Search in Blog</h3>
                            <form>
                                <input type="search" value="Search and hit enter">
                            </form>
                        </div>
                        <!-- END / WIDGET -->
                        <!-- WIDGET -->
                        <div class="widget widget_follow_us">
                            <h3>Follow us</h3>
                            <div class="awe-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                        <!-- END / WIDGET -->
                        <!-- WIDGET -->
                        <div class="widget widget_categories">
                            <h3>Categories</h3>
                            <ul>
                                <li><a href="#">All</a></li>
                                <li>
                                    <a href="#">Uncategorized</a>
                                    <ul>
                                        <li><a href="#">Popular</a></li>
                                        <li><a href="#">New</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div>
                        <!-- END / WIDGET -->
                        <!-- WIDGET -->
                        <div class="widget widget_has_thumbnail">
                            <h3>Recent Posts</h3>
                            <ul>
                                <li>
                                    <div class="image-wrap image-cover">
                                        <a href="@Url.Action("BlogDetail", "TravelBlog")">
                                            <img src="~/Html/images/img/1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="#">How to Crteate Course in this theme? This is title of the blog</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-wrap image-cover">
                                        <a href="@Url.Action("BlogDetail", "TravelBlog")">
                                            <img src="~/Html/images/img/2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="#">Top 10 Design courses of October 2013</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-wrap image-cover">
                                        <a href="@Url.Action("BlogDetail", "TravelBlog")">
                                            <img src="~/Html/images/img/3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="#">How to Crteate Course in this theme? This is title of the blog</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END / WIDGET -->
                        <!-- WIDGET -->
                        <div class="widget widget_tag_cloud">
                            <h3>Tags</h3>
                            <div class="tagcloud">
                                <a href="#">Hotel</a>
                                <a href="#">Motel</a>
                                <a href="#">Hostel</a>
                                <a href="#">Homestay</a>
                            </div>
                        </div>
                        <!-- END / WIDGET -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END / PAGE WRAP -->
<!-- LOAD JQUERY -->
<script type="text/javascript" src="~/Html/js/lib/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="~/Html/js/lib/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="~/Html/js/lib/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="~/Html/js/lib/jquery.owl.carousel.js"></script>
<script type="text/javascript" src="~/Html/js/lib/theia-sticky-sidebar.js"></script>
<script type='text/javascript' src="~/Html/js/lib/jquery-ui.js"></script>
<script type="text/javascript" src="~/Html/js/scripts.js"></script>